/*	Responsive Accordion v1.1.1, Copyright 2014, Joe Mottershaw, https://github.com/joemottershaw/
//	============================================================================================== */

/*	Table of Contents
//	==================================================
//		#Reset
//		#Themes


/*	#Reset
//	================================================== */

	.accordion {
		margin: 0 0 20px 0;
		padding: 0;
		list-style-type: none;
	}

	/* For use in conjunction with the Backbone Responsive Framework - https://github.com/joemottershaw/backbone */
		.accordion.bm-remove	{ margin-bottom: 0;    }
		.accordion.bm-smaller	{ margin-bottom: 5px;  }
		.accordion.bm-small		{ margin-bottom: 10px; }
		.accordion.bm-medium	{ margin-bottom: 20px; }
		.accordion.bm-large		{ margin-bottom: 30px; }
		.accordion.bm-larger	{ margin-bottom: 40px; }

		.accordion.tm-remove	{ margin-top: 0;    }
		.accordion.tm-smaller	{ margin-top: 5px;  }
		.accordion.tm-small		{ margin-top: 10px; }
		.accordion.tm-medium	{ margin-top: 20px; }
		.accordion.tm-large		{ margin-top: 30px; }
		.accordion.tm-larger	{ margin-top: 40px; }

	.accordion li {
		margin: 0 0 10px 0;
		padding: 0;
	}

	.accordion li:last-child { margin-bottom: 0; }

	.accordion li .accordion-head { cursor: pointer; }

	.accordion li .accordion-head.active { font-weight: bold; }


/*	#Themes
//	================================================== */

	.accordion-default.accordion li .accordion-head {
		border: 1px solid #DDD;
		padding: 10px 30px 10px 10px;
		background: #FFF;
		color: #0b8593;
		line-height: normal;
		position: relative;
	}

	.accordion-default.accordion li .accordion-head i {
		position: absolute;
		top: 12px;
		right: 10px;
	}

	.accordion-default.accordion li .accordion-panel {
		border: 1px solid #DDD;
		border-top: 0;
		padding: 20px;
		background: #FFF;
	}